* {
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

html, body {
  padding: 0;
  margin: 0
}

html {
  font-size: 52.5%
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
}

body {
  
  min-height: 100%;
}




button {
  font-size: 10px;
}

h2 {
  letter-spacing: .2rem;
  text-align: center;
}
#main-content {
  background-image: linear-gradient(rgb(206, 192, 255), rgb(122, 63, 231));
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  min-height: 100vh;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(53, 39, 102, 0.76);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  color: #eee;
  width: 60%;
}

.li-container {
  max-width: 80%;
}

#tasks {
  display: block;
}
.highPrio {
  color: red;
  position: relative;
}

.medPrio {
  color: yellow;
    position: relative;
}

.lowPrio {
  color: rgb(0, 180, 0);
    position: relative;
}

.task-list {
  position: relative;
}
